%link(rel="stylesheet" type="text/css" href="styl.css")
%script(type="text/javascript" src="jquery-1.6.1.min.js") 

%h3= "Log contents <small> #{@date.to_s} </small>"

%ul
  - @logs.each do |log|
    %li= log

